<h2>the conjugation of verb  <%= @verb.infinitive %></h2>

<table>
  <tr>
    <td>je <%= @verb.I_present %></td>
    <td> tu <%= @verb.you_present %></td> 
    <td>il/elle/on <%= @verb.he_present %></td>
  </tr>
  <tr>
    <td>nous <%= @verb.we_present  %></td>
    <td>vous <%= @verb.pluralYou_present %></td> 
    <td>ils <%= @verb.they_present %></td>
  </tr>
</table>