<p id="notice"><%= notice %></p>

<p>
  <strong>Base:</strong>
  <%= @adjective.base %>
</p>

<p>
  <strong>Fem singular:</strong>
  <%= @adjective.fem_singular %>
</p>

<p>
  <strong>Masc plural:</strong>
  <%= @adjective.masc_plural %>
</p>

<p>
  <strong>Fem plural:</strong>
  <%= @adjective.fem_plural %>
</p>

<%= link_to 'Edit', edit_adjective_path(@adjective) %> |
<%= link_to 'Back', adjectives_path %>
